# {{ ansible_managed }}
{
    "Dhcp4": {
        "interfaces-config": {
            "interfaces": {{  kea_interfaces | list | to_json }}
        },
        "renew-timer": 1000,
        "rebind-timer": 2000,
        "valid-lifetime": 3600,
        "control-socket": {
            "socket-name": "/tmp/kea4-ctrl-socket",
            "socket-type": "unix"
        },
        
        "hooks-libraries": {{ kea_dhcp_hooks | default([ ]) | to_json }},
        
        "lease-database": {{ kea_lease_database | default({'type':'memfile', 'lfc-interval':3600}) | to_json }},
        
        "option-data": <?include "/etc/kea/options4.conf" ?>,
        
        "subnet4": <?include "/etc/kea/subnets4.conf" ?>,
        
        "loggers": [
            {
                "debuglevel": 0,
                "name": "kea-dhcp4",
                "output_options": [
                    {
                        #"maxsize": 1048576,
                        #"maxver": 8,
                        "output": "stdout",
                        "pattern": "%-5p %m\n"
                    }
                ],
                "severity": "INFO"
            }
        ]
    }
}
