// {{ ansible_managed }}
{
    "Dhcp4": {
        "interfaces-config": {
            "interfaces": {{  kea_interfaces | list | to_json }}
        },
        "renew-timer": {{ kea_dhcp4_renew_timer }},
        "rebind-timer": 2000,
        "valid-lifetime": {{ kea_dhcp4_valid_lifetime }},
        "control-socket": {
            "socket-name": "/tmp/kea4-ctrl-socket",
            "socket-type": "unix"
        },

        {% if kea_dhcp4_ddns | bool %}
        "dhcp-ddns": {
            "enable-updates": true
            // "server-ip": "{{ kea_ddns_ip }}",
            // "server-port" : {{ kea_ddns_port }},
            // "sender-ip" : "127.0.0.1",
            // "sender-port" : 3433,
            // "max-queue-size" : 2048,
            // "ncr-protocol" : "UDP",
            // "ncr-format" : "JSON"
        },
        // "ddns-send-updates" : true,
        // "ddns-override-no-update" : true,
        "ddns-override-client-update" : true,
        // "ddns-replace-client-name" : "when-present",
        // "ddns-generated-prefix" : "test.prefix",
        {% if kea_ddns_suffix is defined -%}
        "ddns-qualifying-suffix" : "{{ kea_ddns_suffix}}",
        {% endif -%}
        // "ddns-update-on-renew" : true,
        // "ddns-use-conflict-resolution" : false,
        // "ddns-ttl-percent" : 0.75,
        // "hostname-char-set": "[^A-Za-z0-9.-]",
        // "hostname-char-replacement": "x",
        {% endif %}

        "hooks-libraries": {{ kea_dhcp_hooks | default([ ]) | to_nice_json }},

        "lease-database": {{ kea_dhcp4_lease_database | to_json }},

        # Global Options
        {% if kea_options4 %}
        "option-data": {{ kea_options4 | to_nice_json }},
        {% endif %}

        # Subnets
        {% if kea_subnets4 %}
        "subnet4": {{ kea_subnets4 |to_nice_json }},
        {% endif %}

        "loggers": [
            {
                "debuglevel": 0,
                "name": "kea-dhcp4",
                "output_options": [
                    {
                        #"maxsize": 1048576,
                        #"maxver": 8,
                        "output": "stdout",
                        "pattern": "%-5p %m\n"
                    }
                ],
                "severity": "{{ kea_dhcp4_log_severity }}"
            }
        ]
    }
}
