// {{ ansible_managed }}
{
    "Dhcp6": {
        "interfaces-config": {
            "interfaces": {{  kea_interfaces | list | to_json }}
        },
        "renew-timer": 1000,
        "rebind-timer": 2000,
        "valid-lifetime": 3600,
        "control-socket": {
            "socket-name": "/tmp/kea6-ctrl-socket",
            "socket-type": "unix"
        },
        
        "hooks-libraries": {{ kea_dhcp_hooks | default([ ]) | to_json }},
        
        "lease-database": {{ kea_lease_database | to_json }},
        
        // Global Options
        {% if kea_options6 %}
        "option-data": {{ kea_options6 | to_nice_json }},
        {% endif %}

        // Subnets
        {% if kea_subnets6 %}
        "subnet6": {{ kea_subnets6 | to_nice_json }},
        {% endif %}
        

        "loggers": [
            {
                "debuglevel": 0,
                "name": "kea-dhcp6",
                "output_options": [
                    {
                        #"maxsize": 1048576,
                        #"maxver": 8,
                        "output": "stdout",
                        "pattern": "%-5p %m\n"
                    }
                ],
                "severity": "INFO"
            }
        ]
    }
}
